html, body {
	background: black;
	color:white;
	margin:0;
	padding:0;
	font-family: Helvetica, Arial, sans-serif;
	height: 100%;
}

.wrapper {
	width: 800px;
	margin: 0 auto;
	padding-right: 150px;
}

header, footer {
	position: fixed;
	left: 0;
	height: 80px;
	width: 100%;
	background-color: #333;
	box-shadow: 0 0 5px 0 black;
}

header {
	top: 0;
}

#content {
	padding: 80px 0 40px 0;
}

footer {
	bottom: 0;
	height: 40px;
	line-height: 40px;
	text-align: right
}


body.sublime-scroll-window .wrapper {
    padding:0
}