body {
    background: #272822;
    color: #F8F8F2;
    font-family: Helvetica, Arial, sans-serif;
}

.wrapper {
    width: 800px;
    margin: 0 auto;
}

.csstransforms .wrapper {
    padding-right: 200px;
}

header.top, footer.bottom {
    position: fixed;
    left: 0;
    width: 100%;
    background-color: #171814;
    z-index: 10000;
}

header.top {
    top: 0;
    height: 60px;
    border-bottom: 1px solid #131410;
    box-shadow: inset 0 -10px 10px -10px #000, inset 0 -1px 0 #0b0c0a, 0 1px 0 #3c3d39, 0 5px 5px #272822;
}

header.top h1 {
    line-height: 60px;
    margin: 0;
}

#content {
    padding: 60px 0 40px 0;
}

footer.bottom {
    bottom: 0;
    height: 40px;
    line-height: 40px;
    border-top: 1px solid #131410;
    box-shadow: inset 0 10px 10px -10px #000, inset 0 1px 0 #0b0c0a, 0 -1px 0 #3c3d39, 0 -5px 5px #272822;
}


body.sublime-scroll-window .wrapper {
    padding: 0;
}
